{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Notes app</title>

    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css'>
    <link rel='stylesheet' href='{% static "css/styles.css" %}'>

</head>

<body>

      <!-- Navbar -->
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Notelly</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Main page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Notes list</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About site</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Help</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main content -->
    <div class='main'>
        <div class='container'>
            <div class="row">
                <div class='col-md-6'>
                    <h2 class="main-content text-center">Welcome to the Notes App!</h2>
                    <p class="main-content text-center">This is a simple application to help you manage your notes efficiently. You can create, edit, and delete notes as needed.</p>
                    <p class="main-content text-center">Use the navigation bar above to access different sections of the app, including your notes list and helpful resources.</p>
                </div>            
            </div>            
        </div>
    </div>



    <footer class='bg-dark text-white text-center mt-5 p-3'>
        <p class='mb-0'>&copy; Copyright 2026</p>
    </footer>
</body>

</html>