{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Notes app{% endblock %}</title>

    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css'>
    <link rel='stylesheet' href='{% static "css/styles.css" %}'>

</head>

<body>

      <!-- Navbar -->
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'notes_main' %}">Notelly</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'notes_main' %}">Main page</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_notes' %}">Notes list</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about_site' %}">About site</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Help</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            {% if user.is_staff %}
                            <li><a class="dropdown-item" href="/admin/">Admin Panel</a></li>
                            <li><hr class="dropdown-divider"></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main content -->
    {% block content %}
    <div class='main'>
        <div class='container'>
            <div class="row">
                <div class='col-md-6'>
                    <h2 class="main-content text-center">Welcome to the Notes App!</h2>
                    <p class="main-content text-center">This is a simple application to help you manage your notes efficiently. You can create, edit, and delete notes as needed.</p>
                    <p class="main-content text-center">Use the navigation bar above to access different sections of the app, including your notes list and helpful resources.</p>
                </div>            
            </div>            
        </div>
    </div>
    {% endblock %}


    


    <footer class='bg-dark text-white text-center mt-5 p-3'>
        <p class='mb-0'>&copy; Copyright 2026</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>