{% extends "notes.html" %}
{% block title %}Notes List{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Your notes here!</h1>

    <form method='get' class='text-center mt-3'>
        <input type='text' name='title' placeholder='Search notes...'>
        <button type='submit' class='btn btn-sm btn-outline-primary'>Search</button>
    </form>

    <ul class="list-group mt-4">
        {% for note in notes %}
        <div class="soft-shadow mb-3 bg-body rounded">
            <p class="list-group-item">
                <a href="{% url 'note-detail' note.pk %}" class="text-decoration-none">{{ note.title }}</a>
            </p>
        </div>
        {% endfor %}
    </ul>

    <div class='buttons text-center mt-4'>
        <a href="{% url 'note_create' %}" class="btn btn-primary">Create New Note</a>
    </div>
</div>
{% endblock %}